In [1]:
pwd

'C:\\Users\\rakhi kumari'

In [2]:
print("helllo")

helllo

In [3]:
print("helllo")
print("Dps")

helllo
Dps

In [8]:
pwd

'C:\\Users\\rakhi kumari'

<img src = "python_logo.png" height="250px" width = "250px" />

# python programming
- python can be used as general programming
- python more popular because of internal and external packages
- python can be used as Fuctional programming,OOp,Scripting programming
- python used in data science,Machine learing and AI
- Data science 
    - pandas
- Visualization
     - Matlab,scipy
- Multi Dimentional programming
     - numpy

In [4]:
pwd

'C:\\Users\\rakhi kumari'

Datatypes in python
- int
- float
- string

In [6]:
X=100000
print(X,type(X))

100000 <class 'int'>

In [7]:
X=103.65656
print(X,type(X))

103.65656 <class 'float'>

In [2]:
s="Rakhi"
s1="kumari"
print(s,type(s))
print(s1,type(s1))

Rakhi <class 'str'>
kumari <class 'str'>

### Input Function in python
- input() which reads the input console and gives the output in terms of string format

In [10]:
s= input('enter your name')
print(s,type(s))

enter your namerakhi
rakhi <class 'str'>

In [3]:
s1=input('enter your name')
print(s,type(s1))

enter your namerakhi kumari
Rakhi <class 'str'>

Type conversion
- int()
     * it makes the input into integer class
- float()
     * it makes the input to float formate
- string()
     * it makes the input to string format

In [4]:
s1= int(input('enter your CRN number'))
print(s1,type(s1))

enter your CRN number12345
12345 <class 'int'>

s1=int(input(''))
print(s1,type(s1))

In [23]:
<img src="python logo.png" height="200px" width="230px">

SyntaxError: invalid syntax (<ipython-input-23-160f1e929d63>, line 1)

<img src="python logo.png" height="200px" width="230px">

<img src="python logo.png" height="200px" width="250px">

<img src="python logo" height="200px" width="230px">

# control flow ststements
[-* conditional statements
    - *if else
- *loop statements
     - *while
    - * for

In [12]:
x=int(input())
if x%2 == 0:
    print("even")
else:
    print("odd")

3
odd

In [11]:
x=int(input())
if x % 2==0:
    print("even")
else:
    print("odd")

2
even

# read a character and upper case and lower case
# ASCII
# A-z : 65-90
# a-z : 97-122

In [13]:
x= input()
if ord(x) >=65 and ord

SyntaxError: invalid syntax (<ipython-input-13-4566cd8eee0d>, line 2)

In [ ]:
# read the char and print the output in vice versa
# a-A
# A-a
x= input()
if ord(x) >= 65 and ord(x) <=90:
  print( chr(ord(x) + 32)) # chr is used for string conversion
elif ord(x) >=97 and ord(x) <=122:
    print( chr(ord(x) -32))

In [22]:
print(ord('A'))
print(chr(65))

65
A

In [ ]:
# while loop
# no-fixed
# for loop 
# fixed

In [24]:
# print the natural number from 1 to N
n = int(input())
i=1
while i <=n:
    print(i,end='')
    i +=1

10
12345678910

In [ ]:
# print the factors/divisors of the given number
# 6--1 2 3 6
n = int(input())
i=1
while i <=n:
    if n % i == 0:
        print(i,end='')
        i +=1

6
123

In [ ]:
#
n = int(input())

In [2]:
for x in range(5):
    print(x,end = ' ')

0 1 2 3 4

In [7]:
for x in range(1,11):
    print(x, end = ' ')

1 2 3 4 5 6 7 8 9 10

In [5]:
for x in range(100,150,2):
    print(x,end = ' ')

100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148

In [6]:
for x in range(150,100,-2):
    print(x,end = ' ')

150 148 146 144 142 140 138 136 134 132 130 128 126 124 122 120 118 116 114 112 110 108 106 104 102

### Data Structures in python
- organizing huge amount of data 
- makes the user to search,sort,and filter the respective in simpler mannner
- Examples: Databases

# data structures in python
 * List
    *Tuples
*Dictionaries
*sets

# List in python
* common data sturcture in python
* used to define the range/group of items under a same name
* List can be same type or different type
* List always enclosed in square brackets
* Every List item will be separated by comma(,)

In [15]:
li = [1,2,3,4,5]
print(li)

[1, 2, 3, 4, 5]

In [16]:
# list with looping

for x in range(len(li)):
    print(li[x],end =' ')

1 2 3 4 5

In [4]:
l=[1990,"hyderbad",'Dhyanahita',78,65.2]
for i in range(len(l)):
    print(l[i],end = ' ')

1990 hyderbad Dhyanahita 78 65.2

In [6]:
# UDATE AND DELETE
l=[1990,"hyderbad",'dhyanahita',78,65.2]
l[2]="raji"
print(l)

[1990, 'hyderbad', 'raji', 78, 65.2]

In [11]:
l=[1990,"hyderbad",'dhyanahita',78,65.2]
del l[1]
print(l)

[1990, 'dhyanahita', 78, 65.2]

In [14]:
# list methods and fuctions
l=[33,44,55]
print(l)
print(max(l))
print(min(l))
print(sum(l))
print(len(l))
print(sum(l)//len(l))

[33, 44, 55]
55
33
132
3
44

In [17]:
### list method
## --data binding operator
l=[1,2,3,4]
l.append(100)
l

[1, 2, 3, 4, 100]

In [18]:
l.insert(3,100)
l

[1, 2, 3, 100, 4, 100]

In [19]:
l.count(100)
l

[1, 2, 3, 100, 4, 100]

In [20]:
l.reverse()
l

[100, 4, 100, 3, 2, 1]

In [21]:
l.pop()
l

[100, 4, 100, 3, 2]

In [22]:
l.pop(2)
l

[100, 4, 3, 2]

# Fuctional Programming
* reuse code block can be called as fuction
* Fuctions will remove the duplicate of code
* Fuction will make programming more difficult
* Fuction will decrease the length of code-- def funNumber(): statements
    
    *FunName is always Camel Case
    *Example: fact(),isPrime(),isPalindrome Test()
    *Parameter fuction is optional
    * IN python fuction can be define with def keyword

In [15]:
#define the fuction
def add():
    x = 11
    y = 12
    print(x+y)
    return
# call the fuction 
add()

23

In [16]:
def square(x):
    print(x*x)
    return
square(10)

100

In [23]:
def cube(x):
    return x*x*x
cube(10)

1000

In [24]:
# fuction second large number of the list
def secondlarge(li):
    li.sort()
    return li[-2]
li = [19,1,25,6,12]
secondlarge(li)

19

In [25]:
# fuction to find generic large value
def genericlarge(li,n):
    li.sort()
    return li[-n]
li = [19,1,25,6,9,12]
genericlarge(li,5) #19

6